/* Notes about site styles:
* - Buttons and links don't do a good job showing
* that a user is interacting with them
* - Visited links blend into the rest of the text
*/

span, div, p {
  color: rgba( 99, 99, 99, 1 );
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

div.container {
  margin: 0 auto;
  padding: 1em;
}

div.row.tab-content {
  /*margin: 0;*/
  display: block;
  margin: 0;
}

div.row.tab-content > section {
  margin: 0 auto;
  padding: 0;
  max-width: 675px;
}

a, .dabackicon span, button.daquestionbackbutton.btn-link span {
  color: rgba( 190, 64, 77, 1 ) !important;
  font-weight: bold;
}

a:hover, .dabackicon:hover, button.daquestionbackbutton.btn-link:hover {
  color: rgba( 99, 99, 99, 1 );
  text-decoration: none;
}


/* ======== START BUTTONS ======== */


/* All buttons, all states */
 button.btn,     button.btn:hover,     button.btn:active,     button.btn:focus,
.btn-primary,   .btn-primary:hover,   .btn-primary:active,   .btn-primary:focus,
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus,
.btn-warning,   .btn-warning:hover,   .btn-warning:active,   .btn-warning:focus,
.btn-danger,    .btn-danger:hover,    .btn-danger:active,    .btn-danger:focus,
.btn-light,     .btn-light:hover,     .btn-light:active,     .btn-light:focus,
label.btn-primary, label.btn-primary:hover, label.btn-primary:active, label.btn-primary:focus,
.show > .btn-light.dropdown-toggle, .show > .btn-primary.dropdown-toggle {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

 button.btn span,     button.btn:hover span,     button.btn:active span,     button.btn:focus span,
.btn-primary span,   .btn-primary:hover span,   .btn-primary:active span,   .btn-primary:focus span,
.btn-secondary span, .btn-secondary:hover span, .btn-secondary:active span, .btn-secondary:focus span,
.btn-warning span,   .btn-warning:hover span,   .btn-warning:active span,   .btn-warning:focus span,
.btn-danger span,    .btn-danger:hover span,    .btn-danger:active span,    .btn-danger:focus span,
.btn-light span,     .btn-light:hover span,     .btn-light:active span,     .btn-light:focus span,
label.btn-primary span, label.btn-primary:hover span, label.btn-primary:active span, label.btn-primary:focus span,
.show > .btn-light.dropdown-toggle span, .show > .btn-primary.dropdown-toggle span {
  font-weight: bold;
}

/* Main buttons at bottom of screen and... regular buttons? All states */
 button.btn,     button.btn:hover,     button.btn:active,     button.btn:focus,
.btn-primary,   .btn-primary:hover,   .btn-primary:active,   .btn-primary:focus {
  border-color: rgba( 64, 64, 64, 1 );
  background-color: white;
  padding: 1em;
}

 button.btn span,     button.btn:hover span,     button.btn:active span,     button.btn:focus span,
.btn-primary span,   .btn-primary:hover span,   .btn-primary:active span,   .btn-primary:focus span {
  color: rgba( 64, 64, 64, 1 );
}

/* All labels, all states (may have to adjust toggles. Not sure.) */
 label.btn-primary, label.btn-primary:hover, label.btn-primary:active, label.btn-primary:focus,
.btn-light,        .btn-light:hover,        .btn-light:active,        .btn-light:focus,
.show > .btn-light.dropdown-toggle,
.show > .btn-primary.dropdown-toggle {
  padding: 10px;
}

/* All inputs, active state */
.btn-light:active,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle:active,
label.btn-primary:active,
label.btn-primary:not(:disabled):not(.disabled):active,
label.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle:active {
  background-color: rgba( 64, 64, 64, 1 );
  border-color: rgba( 64, 64, 64, 1 );
}

.btn-light:active span, .btn-light:active svg,
.btn-light:not(:disabled):not(.disabled).active span, .btn-light:not(:disabled):not(.disabled).active svg,
.btn-light:not(:disabled):not(.disabled):active span, .btn-light:not(:disabled):not(.disabled):active svg,
.show > .btn-light.dropdown-toggle: active span, .show > .btn-light.dropdown-toggle: active svg,
label.btn-primary:active span, label.btn-primary:active svg,
label.btn-primary:not(:disabled):not(.disabled):active span, label.btn-primary:not(:disabled):not(.disabled):active svg,
label.btn-primary:not(:disabled):not(.disabled).active span, label.btn-primary:not(:disabled):not(.disabled).active svg,
.show > .btn-primary.dropdown-toggle:active span, .show > .btn-primary.dropdown-toggle:active svg {
  color: white;
}

/* Unselected inputs, rest, focus, and hover state */
.btn-light, .btn-light:hover, .btn-light:focus,
.show > .btn-light.dropdown-toggle,
.show > .btn-light.dropdown-toggle:hover,
.show > .btn-light.dropdown-toggle:focus {
  border-color: rgba( 99, 99, 99, 1 );
}

.btn-light span, .btn-light:hover span, .btn-light:focus span,
.btn-light svg, .btn-light:hover svg, .btn-light:focus svg,
.show > .btn-light.dropdown-toggle span,
.show > .btn-light.dropdown-toggle svg,
.show > .btn-light.dropdown-toggle:hover span,
.show > .btn-light.dropdown-toggle:hover svg,
.show > .btn-light.dropdown-toggle:focus span,
.show > .btn-light.dropdown-toggle:focus svg {
  color: rgba( 99, 99, 99, 1 );
}

/* Unselected inputs, rest and focus state */
.btn-light, .btn-light:focus,
.show > .btn-light.dropdown-toggle {
  background-color: white;
}

/* Unselected inputs, hover state */
.btn-light:hover,
.show > .btn-light.dropdown-toggle:hover {
  background-color: rgba( 220, 220, 220, 1 );
}

/* Unselected inputs, active state */
.btn-light:active,
.show > .btn-light.dropdown-toggle {
  background-color: rgba( 64, 64, 64, 1 );
  border-color: rgba( 64, 64, 64, 1 );
}

/* Selected inputs, normal state */
label.btn-primary,
.show > .btn-primary.dropdown-toggle {
  background-color: rgba( 99, 99, 99, 1 );
}

label.btn-primary span, label.btn-primary svg {
  color: white;
}

label.btn-primary span, label.btn-primary svg {
  color: white;
}

/* Selected inputs, hover/active */
label.btn-primary {
  background-color: rgba( 99, 99, 99, 1 );
}

label.btn-primary span, label.btn-primary svg {
  color: white;
}

/* Active unselected inputs */
/*
.btn-light:hover,
.show > .btn-light.dropdown-toggle {
  background-color: rgba( 99, 99, 99, 1 );
}

.btn-light:hover span, .btn-light:hover svg,
.show > .btn-light.dropdown-toggle span, .show > .btn-light.dropdown-toggle svg {
  color: white;
}*/
/*
label.btn-primary:hover, label.btn-primary:active,
label.btn-primary:not(:disabled):not(.disabled):active,
label.btn-primary:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle:active,
.show > .btn-primary.dropdown-toggle:active {
  background-color: rgba( 64, 64, 64, 1 );
  border-color: rgba( 64, 64, 64, 1 );
}


button.btn, button.btn:hover, button.btn:active, button.btn:focus {
  background: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
}

.dabackicon span, button.daquestionbackbutton.btn-link span {
  font-style: italic;
}

.dabackicon:hover span, button.daquestionbackbutton.btn-link:hover span {
  color: rgba( 99, 99, 99, 1 ) !important;
}

.btn-light {
  background-color: rgb(255, 255, 255);
  border-color: rgba( 99, 99, 99, 1 )!important;
  border-width: 2px;
  border-style: solid;
}

.btn-light:hover {
  background-color: rgba( 220, 220, 220, 1 );
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
  text-decoration: none;
}

button.btn-secondary {
  background: rgba( 99, 99, 99, 1 );
  border-color: rgba( 99, 99, 99, 1 );
}

button.btn-secondary span {
  color: white;
}

button.btn-warning,
button.btn-warning:hover,
button.btn-warning:not(:disabled):not(.disabled):active{
  border-color: rgba(236, 163, 0, 1);
  background-color: white;
}
*/

/* link to docket sheets */
/*
.question-fed-job-disclaimer button:first-child {
  border-color: rgba(236, 163, 0, 1);
}

button.btn-danger,
button.btn-danger:hover,
button.btn-danger:not(:disabled):not(.disabled):active {
  border-color: rgba( 190, 64, 77, 1 );
  background-color: white;
}
*/
/*
button.btn span, button.btn:hover span, button.btn:active span, button.btn:focus span,
.btn-secondary span, .btn-secondary:hover span, .btn-secondary:active span, .btn-secondary:focus span,
{
  color: rgba( 99, 99, 99, 1 );
}
 button.btn span,     button.btn:hover span,     button.btn:active span,     button.btn:focus span,
.btn-primary span,   .btn-primary:hover span,   .btn-primary:active span,   .btn-primary:focus span, {
  color: rgba( 64, 64, 64, 1 );
}
.btn-secondary span,    .btn-secondary:hover span,    .btn-secondary:active span,    .btn-secondary:focus span,
label.btn-primary span, label.btn-primary:hover span, label.btn-primary:active span, label.btn-primary:focus span,
label.btn-primary svg,  label.btn-primary span {
  color: white;
}
*/

/* ======== END BUTTONS ======== */


.h1, .h2, .h3, .h4, .h5, .h6 {
  position: relative;
  text-transform: uppercase;
  color: rgba( 99, 99, 99, 1 );
  font-weight: 400;
  margin-bottom: 1em;
}

.da-page-header {
  border-bottom: 0;
}

h1.h3:after {
  /*
  white-space: pre;
  content: "\A_________________________________________________________________";
  */
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 57.5px);
  height: 1px;
  width: 115px;
  border-bottom: 3px solid #be404d;
}

h1.h3 {
  font-size: 18px;
  font-weight: bold; /* temporary? */
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 1em;
}

h4:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A\A";
}

.daundertext:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A";
}

.daundertext > p:first-child {
  margin-top: 1em;
}

.daundertext > p {
  font-style: italic;
}

ol, ul {
  padding-inline-start: 40px;
}

strong {
  font-weight: 700;
}


/* This may be too big a task. We might work on embedding. */
body.da-pad-for-navbar {
  padding-top: 134px;
}

.navbar {
  border-top: 5px solid rgba( 190, 64, 77, 1 );
  background-color: rgba( 255, 255, 255, 0.9 ) !important;
  color: rgba( 64, 64, 64, 1 );
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  padding: 36px;
}

.navbar ul li.nav-item a.nav-link {
  color: rgba( 64, 64, 64, 1 ) !important;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.navbar ul li.nav-item a.nav-link:hover {
  color: rgba( 190, 64, 77, 1 ) !important;
}

@media (max-width: 768px) {
  /* distance to header: 166px 
    top border 5px
    top padding 36px
    which comes out to 125px
    but 134px is what works...
    there are 9px somewhere out there...
    might be .navbar-brand padding (5px)
  */
  .navbar {
    position: static;
    height: 134px; 
  }
  
  body.da-pad-for-navbar {
    padding: 0px;
  }
}