/* Notes about actual gbls site styles:
* - Buttons and links don't do a good job showing
* that a user is interacting with them
* - Visited links blend into the rest of the text
*/
/*
* TODO: .show > .n.dropdown-toggle states may become
* problematic
* TODO: Non-radio and text inputs are not taken care of
* or tested. (09/04/19)
* TODO: underline of link when focused
*/

span, div, p {
  color: rgba( 99, 99, 99, 1 );
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1em;
}

div.container {
  margin: 0 auto;
  padding: 1em;
}

div.row.tab-content {
  /*margin: 0;*/
  display: block;
  margin: 0;
}

div.row.tab-content > section {
  margin: 0 auto;
  padding: 0;
  max-width: 675px;
}

button {
  margin-top: 1em;
}

a, .dabackicon span, button.daquestionbackbutton.btn-link span {
  color: rgba( 190, 64, 77, 1 ) !important;
  font-weight: bold;
}

a:hover,
.dabackicon:hover,
button.daquestionbackbutton.btn-link:hover,
button.daquestionbackbutton.btn-link:focus {
  color: rgba( 99, 99, 99, 1 );
  text-decoration: none;
}

.form-group.darequired .dawidecol:before {
  position: absolute;
  content: 'You must answer this question';
  color: #dc3545;
  top: -1rem;
  left: 1rem;
}


/* ======== START BUTTONS ======== */
/*
  dark gray: rgba(64, 64, 64, 1);
  medium gray: rgba( 99, 99, 99, 1 );
  light gray: rgba( 220, 220, 220, 1 );
  yellow (warning): rgba(236, 163, 0, 1);
  red (danger): rgba( 190, 64, 77, 1 );
  .text-danger color #dc3545;
*/


/* Every button/input-looking thing. All states. Not links. */
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.da-field-radio label,
.da-field-radio label:hover,
.da-field-radio label:active,
.da-field-radio label:focus {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

/* Button individual styles. All states. */
.btn {
  padding: 1em;
}
.btn span {
  font-weight: bold;
  color: rgba(64, 64, 64, 1);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: white;
}

/* A black button is kind of alarming... */
button.btn-secondary,
button.btn-secondary:hover,
button.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  /*background: rgba( 99, 99, 99, 1 );
  border-color: rgba( 99, 99, 99, 1 );*/
  border-color: rgba(64, 64, 64, 1);
  background-color: white;
}
button.btn-secondary span {
  /* color: white; */
}

/* UX experts agree - same color for all answer buttons! */
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: white;
}

/* Buttons to other sites that can't be labeled that way should still be yellow...? */
/* UX experts? */
.question-fed-job-disclaimer button,
.question-fed-job-disclaimer button:hover,
.question-fed-job-disclaimer button:focus,
.question-fed-job-disclaimer button:not(:disabled):not(.disabled).active,
.question-fed-job-disclaimer button:not(:disabled):not(.disabled):active {
  /* border-color: rgba(236, 163, 0, 1); */
  border-color: rgba(64, 64, 64, 1);
  background-color: white;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
  border-color: rgba( 190, 64, 77, 1 );
  background-color: white;
}

/* Unselected inputs. Resting state. */
.btn-light {
  border-color: rgba( 99, 99, 99, 1 );
  background-color: white;
}
.btn-light svg
.btn-light span {
  color: rgba( 99, 99, 99, 1 );
}

/* Unselected inputs. Other states. */
.btn-light:hover {
  border-color: rgba( 99, 99, 99, 1 );
  background-color: rgba( 220, 220, 220, 1 );
}

/* svgs inherit `color` */
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: rgba(64, 64, 64, 1);
  color: white;
}
.btn-light:not(:disabled):not(.disabled).active span,
.btn-light:not(:disabled):not(.disabled):active span,
.show>.btn-light.dropdown-toggle span {
  color: white !important;
}

/* Selcted inputs. Resting, hover, and focus state. */
label[aria-checked="true"],
label[aria-checked="true"]:hover,
label[aria-checked="true"]:focus {
  border-color: rgba( 99, 99, 99, 1 );
  background-color: rgba( 99, 99, 99, 1 );
  color: white !important;
}
label[aria-checked="true"] span {
  color: inherit;
}

/* Selcted inputs. Other states. */
label.btn-primary:focus,
label.btn-primary:not(:disabled):not(.disabled).active,
label.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: rgba(64, 64, 64, 1);
}

#sendEmail {
  padding-top: .5em;
  padding-bottom: .5em;
  color: green !important;
  border-color: green;
}

/* ======== END BUTTONS ======== */


.h1, .h2, .h3, .h4, .h5, .h6 {
  position: relative;
  text-transform: uppercase;
  color: rgba( 99, 99, 99, 1 );
  font-weight: 400;
  margin-bottom: 1em;
}

.da-page-header {
  border-bottom: 0;
}

h1.h3:after {
  /*
  white-space: pre;
  content: "\A_________________________________________________________________";
  */
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 57.5px);
  height: 1px;
  width: 115px;
  border-bottom: 3px solid #be404d;
}

h1.h3 {
  font-size: 18px;
  font-weight: bold; /* temporary? */
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 1em;
}

h4:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A\A";
}

/*.daundertext:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A";
}*/

.daundertext > p:first-child {
  margin-top: 1em;
}

.daundertext > p {
  font-style: italic;
}

ol, ul {
  padding-left: 40px;
}

strong {
  font-weight: 900;
  color: black;
}

/* Just for email sending one-line display. Fragile. */
.da-field-container-datatype-email {
  display: inline;
}

.da-field-container-datatype-email .da-form-label {
  display: inline-block;
  min-width: fit-content;
  max-width: fit-content;
}

.da-field-container-datatype-email .dafieldpart {
  display: inline-block;
  width: 18em;
}

.da-field-container-datatype-email .dafieldpart .text-danger {
  position: absolute;
}

.da-field-container-datatype-email + .da-field-container-note {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
}

#sendEmail {
  padding-top: 0.4em;
  padding-bottom: .4em;
  margin: 0;
}

/* Changing alignment of certain fields */
.da-field-container-datatype-email label {
  text-align: left !important;
  padding-right: 0;
  /* Width of two columns instead of 4. This is fragile */
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

/* Ends email sender one-line */


/* Doing the whole header may be too big a task. We might work on embedding. */
body.da-pad-for-navbar {
  padding-top: 134px;
}

.navbar {
  border-top: 5px solid rgba( 190, 64, 77, 1 );
  background-color: rgba( 255, 255, 255, 0.9 ) !important;
  color: rgba( 64, 64, 64, 1 );
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  padding: 36px;
}

.navbar ul li.nav-item a.nav-link {
  color: rgba( 64, 64, 64, 1 ) !important;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.navbar ul li.nav-item a.nav-link:hover {
  color: rgba( 190, 64, 77, 1 ) !important;
}

@media (max-width: 768px) {
  /* distance to header: 166px 
    top border 5px
    top padding 36px
    which comes out to 125px
    but 134px is what works...
    there are 9px somewhere out there...
    might be .navbar-brand padding (5px)
  */
  .navbar {
    position: static;
    height: 134px; 
  }
  
  body.da-pad-for-navbar {
    padding: 0px;
  }
}