/* Notes about actual gbls site styles:
* - Buttons and links don't do a good job showing
* that a user is interacting with them
* - Visited links blend into the rest of the text
*/
/*
* TODO: .show > .n.dropdown-toggle states may become
* problematic
* TODO: Non-radio and text inputs are not taken care of
* or tested. (09/04/19)
*/

span, div, p {
  color: rgba( 70, 70, 70, 1 );
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: normal;
}

div.container {
  margin: 0 auto;
  padding: 1em;
}

div.row.tab-content {
  /*margin: 0;*/
  display: block;
  margin: 0;
}

div.row.tab-content > section {
  margin: 0 auto;
  padding: 0;
  max-width: 675px;
}

button {
  margin-top: 1em;
}

a, a * {
  color: rgba( 190, 64, 77, 1 ) !important;
}

.dabackicon span,
button.daquestionbackbutton.btn-link span {
  color: white !important;
}

button.btn.btn-link.btn-da.daquestionbackbutton.danonsubmit{
  border-color: #7d2832;
  background-color: #be404d;
}

button.btn.btn-link.btn-da.daquestionbackbutton.danonsubmit:hover {
  border-color: #7d2832;
  background-color: #7d2832;
}

.dabackicon span,
button.daquestionbackbutton.btn-link span {
  font-weight: bold;
}
button.daquestionbackbutton.btn-link:hover span {
  color: white !important;
}

a,
a:hover,
button.daquestionbackbutton.btn-link:focus,
.daterm,
.daterm:hover {
  text-decoration: underline;
  text-decoration-color: rgba( 190, 64, 77, 1 );
}
button.daquestionbackbutton.btn-link:hover {
  background-color:#e9f8ff;
  border-color: #037bfe;
}

.daterm,
.daterm:hover {
  text-decoration-style: dashed;
}

.btn,
a.nav-link,
a.nav-link:hover,
a.navbar-brand,
.navbar-brand span,
.dabackicon:hover,
button.daquestionbackbutton.btn-link:hover {
  color: rgba( 70, 70, 70, 1 );
  text-decoration: none;
}


/* Required answers */


/*.form-group.darequired
.darequired,*/
/*.form-group.darequired .dawidecol,*/
/*.darequired .dafieldpart {
  position: relative;
}*/

.form-group.darequired .dawidecol:before {
  position: absolute;
  content: '(You have to answer this question)';
  margin-left: 1em;
  color: #dc3545;
  top: -1em;
  left: 1em;
}

.darequired .dafieldpart:before {
  position: absolute;
  content: '(You have to answer this question)';
  margin-left: 1em;
  color: #dc3545;
  top: -1em;
}

.form-group.darequired .da-form-label:after {
  content: '';
}

.da-top-label +.dafieldpart:before {
  content: '';
}

.form-group.darequired .da-top-label:after {
  content: '(You have to answer this question)';
  margin-left: 1em;
  color: #dc3545;
}


/* ======== START BUTTONS ======== */
/*
  dark gray: rgba(64, 64, 64, 1);
  medium gray: rgba( 99, 99, 99, 1 );
  light gray: rgba( 220, 220, 220, 1 );
  yellow (warning): rgba(236, 163, 0, 1);
  red (danger): rgba( 190, 64, 77, 1 );
  .text-danger color #dc3545;
*/


/* Every button/input-looking thing. All states. Not links. */
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.da-field-radio label,
.da-field-radio label:hover,
.da-field-radio label:active,
.da-field-radio label:focus,
.da-field-checkbox label,
.da-field-checkbox label:hover,
.da-field-checkbox label:active,
.da-field-checkbox label:focus,
.btn-light,
.atch-button {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

/* Just buttons styles. All states. */
.btn,
.atch-button {
  padding: 1em;
}
.btn span {
  font-weight: 400;
  color: black;
}
/* Checkbox image alignment */
input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image {
  display: inline;
}

.btn-primary,
.btn-primary:disabled,
.show>.btn-primary.dropdown-toggle,
.atch-button {
  border-color: black;
  background-color: white;
}
.btn-primary:hover, .btn-primary:focus{
  border-color: black;
  background-color: #adadad;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active{
  border-color: black;
  background-color: #adadad;
}

/* A completely black button is kind of alarming... */
button.btn-secondary,
button.btn-secondary:disabled,
.show>.btn-secondary.dropdown-toggle {
  border-color: black;
  background-color: white;
}
button.btn-secondary span {
  /* color: white; */
}
.btn-secondary:hover, .btn-secondary:focus{
  border-color: black;
  background-color: #adadad;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active{
  border-color: black;
  background-color: #adadad;
}

/* UX experts agree - same color for all answer buttons! */
.btn-warning,
.btn-warning:disabled,
.show>.btn-warning.dropdown-toggle {
  border-color: black;
  background-color: white;
}
.btn-warning:hover, .btn-warning:focus{
  border-color: black;
  background-color: #adadad;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active{
  border-color: black;
  background-color: #adadad;
}

/* Buttons to other sites that can't be labeled that way should still be yellow...? */
/* UX experts? */
.question-fed-job-disclaimer button,
.question-fed-job-disclaimer button:hover,
.question-fed-job-disclaimer button:focus,
.question-fed-job-disclaimer button:not(:disabled):not(.disabled).active,
.question-fed-job-disclaimer button:not(:disabled):not(.disabled):active {
  /* border-color: rgba(236, 163, 0, 1); */
  border-color: rgba(64, 64, 64, 1);
  background-color: white;
}

.btn-danger,
.btn-danger:disabled,
.show>.btn-danger.dropdown-toggle {
  border-color: black;
  background-color: white;
  color: black;
}
.btn-danger span {
  color: black;
}
.btn-danger:hover span, .btn-danger:focus span{
  color: black;
}
.btn-danger:hover, .btn-danger:focus {
  border-color: black;
  background-color: #adadad;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,{
  border-color: black;
  background-color: #adadad;
  color: black;
}

/* Fields with empty labels (so they should take the whole width) */
/*.da-field-container-emptylabel div {
  display: block;
  margin: 0;
  flex: 1;
  max-width: 100%
}*/

/* Unselected inputs. Resting state. */
.btn-light {
  border-color: rgba( 70, 70, 70, 1 );
  background-color: white;
}
.btn-light svg
.btn-light span {
  color: rgba( 70, 70, 70, 1 );
}

/* Unselected inputs. Other states. */
.btn-light:hover {
  border-color: rgba( 70, 70, 70, 1 );
  background-color: rgba( 220, 220, 220, 1 );
}

/* svgs inherit `color` */
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: rgba(64, 64, 64, 1);
  color: white;
}
.btn-light:not(:disabled):not(.disabled).active span,
.btn-light:not(:disabled):not(.disabled):active span,
.show>.btn-light.dropdown-toggle span {
  color: white !important;
}

/* Selected inputs. Resting, hover, and focus state. */
label[aria-checked="true"],
label[aria-checked="true"]:hover,
label[aria-checked="true"]:focus {
  border-color: rgba( 70, 70, 70, 1 );
  background-color: rgba( 70, 70, 70, 1 );
  color: white !important;
}
label[aria-checked="true"] span {
  color: inherit;
}

/* Selected inputs. Other states. */
label.btn-primary:focus,
label.btn-primary:not(:disabled):not(.disabled).active,
label.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: rgba(64, 64, 64, 1);
  background-color: rgba(64, 64, 64, 1);
}

/* Icons for answer buttons can't happen because CSS selectors
can't identify text contents */

/* For pdf page */
.atch-button {
  width: 100%;
  display: block;
  text-align: center;
}

/* Send next steps in email button should be closer to email sending inputs */
.question-get-attachment .da-field-container-inputtype-yesnowide {
  margin-bottom: .2em;
}

/* Email button is lower down. See 'email sending' */


/* ======== END BUTTONS ======== */


.da-page-header {
  border-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6  {
  position: relative;
  color: rgba( 70, 70, 70, 1 );
  font-weight: 700;
}

.h1, .h2, h1, h2, h1.h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

h1.h3:after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 57.5px);
  height: 1px;
  width: 115px;
  border-bottom: 3px solid #be404d;
}

h1.h3 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-bottom: 1em;
}

/*
h2:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A\A";
}
*/

h3, .h3 {
  font-size: 1.2em;
  margin-bottom: .4em;
  margin-top: 2em;
}


/*.daundertext:before {
  font-size: 16px;
  white-space: pre;
  content: "_________________________________________________________________\A";
}*/

.daundertext > p:first-child {
  margin-top: 1em;
}

.daundertext > p {
  font-style: italic;
}

ol, ul {
  padding-left: 40px;
}

strong {
  font-weight: 700;
}


/* This may be too big a task. We might work on embedding. */
body.da-pad-for-navbar {
  padding-top: 134px;
}

.navbar {
  border-top: 5px solid rgba( 190, 64, 77, 1 );
  background-color: rgba( 255, 255, 255, 0.9 ) !important;
  color: rgba( 64, 64, 64, 1 );
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  padding: 36px;
}

.navbar ul li.nav-item a.nav-link {
  color: rgba( 64, 64, 64, 1 ) !important;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.navbar ul li.nav-item a.nav-link:hover {
  color: rgba( 190, 64, 77, 1 ) !important;
}

/* Just for email sending one-line display. Fragile. */
/* Second rows account for `labels above fields: True` */
.question-get-attachment .da-field-container-datatype-email {
  position: relative;
  display: inline;
}
.question-get-attachment .da-field-container-datatype-email .da-form-label,
.question-get-attachment .da-field-container-datatype-email .da-top-label {
  display: inline-block;
  padding-right: 1em;
  text-align: left !important;
  /* Width of two columns instead of 4. This is fragile */
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  min-width: fit-content;
}
.question-get-attachment .da-field-container-datatype-email .dafieldpart,
.question-get-attachment .da-field-container-datatype-email input[type="email"] {
  display: inline-block;
  width: 18em;
}
.question-get-attachment .da-field-container-datatype-email .dafieldpart .text-danger,
.question-get-attachment .da-field-container-datatype-email input[type="email"] +.text-danger {
  position: absolute;
  top: 2em;
  left: 0;
}
.question-get-attachment .da-field-container-datatype-email + .da-field-container-note {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
}
.question-get-attachment .da-field-container-datatype-email + .da-field-container-note p {
  margin: 0;
}

#sendAttachmentEmail {
  padding-top: 0.4em;
  padding-bottom: .4em;
  margin: 0;
  color: green !important;
  border-color: green;
}

#sendAttachmentEmail * {
  color: inherit !important;
}

/* Spacing with alert on attachement page */
.question-get-attachment .da-field-container-note .alert-success {
  margin: 0;
}
/* Ends email sender one-line */



@media (max-width: 768px) {
  /* distance to header: 166px
    top border 5px
    top padding 36px
    which comes out to 125px
    but 134px is what works...
    there are 9px somewhere out there...
    might be .navbar-brand padding (5px)
  */
  .navbar {
    position: static;
    height: 134px;
  }

  body.da-pad-for-navbar {
    padding: 0px;
  }
}


/* Development */
.new {
  color: green !important;
}

.todo {
  color: red !important;
}
